body {
    background-image: url("images/indexbg.png");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-attachment: scroll;
}

.wallet-container {
    padding-top: 0.5%;
    padding-left: 4%;
}

.wallet {
    color: #ffffff;
    background-color: #7ad21b;
    text-decoration: none;
    font-size: 7vw;
}

.main-container {
    text-align: center;
    padding-top: 41%;
    padding-left: 6.5%;
    display: inline-flex;
    flex-direction: row;
}

.main-container * {
    margin: 0.6vw;
}

.index-btn {
    width: 28vw;
}

#ring {
}

#estimate {
}

#report {
}


