body {
    background-image: url("../images/estimatebg.png");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-attachment: scroll;
}

.estimate-container {
    padding-top: 18%;
    padding-left: 0.5%;
    flex-direction: column;
}

.estimate-container * {
    margin: 0.6vw;
}

.estimate-container div {
    font-size: 3.6vw;
}

.estimate-btn-container {
    padding-top: 4%;
}
