body {
    background-image: url("../images/indexbg.png");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-attachment: scroll;
}

#ring {
}

#estimate {
}

#report {
}


