.wallet-container {
    padding-left: 4%;
}

.wallet {
    color: #ffffff;
    background-color: #7ad21b;
    text-decoration: none;
    font-size: 7vw;
}

.container {
    text-align: center;
    display: inline-flex;
}

.btn-container {
    padding-top: 41%;
    padding-left: 6.5%;
    flex-direction: row;
}

.btn-container * {
    margin: 0.6vw;
}

.index-btn {
    width: 28vw;
}

.bottom-filler {
    height: 100vw;
 }
