body {
    background-image: url("../images/walletbg.png");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-attachment: scroll;
}

.main {
    display: flex;
    flex-direction: column;
}

.wallet-bottom-filler {
    height: 50vh;
}

.money-container {
    padding-top: 40%;
    display: inline-grid;
    grid-auto-flow: dense;
    align-items: center;
    grid-template-columns: 10vw 100vw;
}

.money-container label {
    grid-column: 2;
    font-size: 6vw;
}

.money-container input {
    padding-left: 10%;
    width:  6vw;
    height: 6vw;
}

.money-container * {
    width: 10vw;
}

.money-custom-container {
    display: inline-flex;
    flex-direction: row;
}

.money-custom-input {
    font-size: 6vw;
}

.auto-reload-container label {
    font-size: 4vw;
    font-weight: bold;
    padding-top: 5%;
    padding-left: 3%;
}

.auto-reload-container label.switch {
    margin-left: 56%;
    margin-top: 5%;
}
